<html>
<head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>Here are the weather details for the city <b>{{cityName}}</b> for day <b>{{date}}</b>:</p>
<p>Description: <b>{{description}}</b></p>
<p>Temperature: <b>{{celsiusTemperature}}C/{{fahrenheitTemperature}}F</b></p>
<p>Sunrise:<b>{{sunriseTime}}</b></p>
<p>Sunset:<b>{{sunsetTime}}</b></p>
<a href="/">Search again</a>
</body>
</html>


